profiles {
    java_fix {
        process {
            withName: 'BBMAP_BBNORM' {
                clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 2)}G" }
            }
            withName: 'FASTP' {
                ext.args = "-q 15 --cut_front --cut_tail --cut_mean_quality 15 --length_required 30 --trim_poly_g --dedup"
            }
        }
    }
}